@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');
@font-face {
    font-family: "droid";
    src: url("fontes/idroid.otf");
}



:root {
    --cor1: #68D096;
    --cor2: #6CD299;
    --cor3: #59CB8B;
    --cor4: #57AD7C;
    --cor5: #20633E;
    --cor_h2: #4ea073;
}


body {
    margin: auto;
    background-color: wheat;
}

header {
    background-image:linear-gradient(to bottom, var(--cor1), var(--cor3), var(--cor4), var(--cor5));
    padding: 30px 100px 0px 100px;
    margin-right: none;
    border: none;}


h2 {
    color: var(--cor_h2);
    background-color: rgba(218, 215, 215, 0.863);
    box-shadow: 1.5px 1.5px 3px rgba(46, 27, 27, 0.411) ; 
    font-family: "droid" ; }
     



p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;}



    img {
        min-width: 100%;
        display: block; 
        margin: auto;
    }











a {
    font-family: "droid";
    color: white;
    display: inline-block;
    font-size: large;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}

a:hover {
    background-color: rgba(218, 215, 215, 0.863);
    color: var(--cor_h2);
    font-size: larger;
    transition-duration: 0.2s;
}








main {
    max-width: 900px ;
    min-width: 300px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.pequena {
    min-width: 30%;
    display: block;
    margin: auto;
}

#tabelinha {
    background-color: var(--cor4);
    border: 1px solid black;
    padding: 3px 3px 3px 3px;

}

.rodape {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 0px;
    background-color: var(--cor5);
}

aside > h2 {
    padding: 5px;
    margin: -5px -5px 0px -5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);

}
aside > ul {
    columns: 2;
}

.menu {
    justify-content: center; 
}

h1.header {
    margin: 0px;
    padding: 0;
 
}


h2.header {
    margin-top: 10px;
    margin-bottom: 40px;
}

.header {
    color: white;
    font-weight: normal;
    font-family:"Bebas Neue", Arial,sans-serif;
    text-align: center;
}



div.video {
    background-color: var(--cor4);
    padding: 20px;
    position: relative;
    padding-bottom: 40%;
    margin: 0 -10px 0 -10px;
}

div.video > iframe {
    position: absolute;
    margin-left: 12%;
    margin-top: 4%;
    width: 70%;
    height: 70%;


}